/* https://piccalil.li/blog/a-modern-css-reset */

/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6; /* temporary line height */
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* MAIN CSS STYLINGS */
:root {
  /* COLORS */
  --color-primary-100: hsl(222, 40%, 96%);
  --color-primary-200: hsl(222, 40%, 94%);
  --color-primary-300: hsl(222, 40%, 70%);
  --color-primary-400: hsl(222, 40%, 24%);
  --color-primary-500: hsl(222, 40%, 20%);
  --color-primary-600: hsl(222, 40%, 18%);
  --color-primary-700: hsl(222, 40%, 14%);
  --color-primary-800: hsl(222, 40%, 12%);
  --color-primary-900: hsl(222, 40%, 10%);

  --color-accent-400: hsl(240, 100%, 7%);

  --color-grey-100: hsl(0, 0%, 100%);
  --color-grey-200: hsl(0, 0%, 97%);
  --color-grey-300: hsl(0, 0%, 80%);
  --color-grey-400: hsl(0, 0%, 55%);
  --color-grey-500: hsl(0, 0%, 40%);
  --color-grey-600: hsl(0, 0%, 25%);
  --color-grey-700: hsl(0, 0%, 15%);
  --color-grey-800: hsl(0, 0%, 5%);
  --color-grey-900: hsl(0, 0%, 0%);

  /* FONT FAMILY */
  --ff-heading: "Poppins", sans-serif;
  --ff-body: "Montserrat", sans-serif;
}

/* Base stylings */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-body);
  color: var(--color-grey-600);
}

/* HEADER */
.nav-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu-icon {
  height: 2.4rem;
  padding-inline: 3.5rem;
  padding-block: 2rem;
  position: fixed;
  top: 0%;
  right: 0%;
  cursor: pointer;
  display: none;
  z-index: 999;
}

#nav-check {
  display: none;
}

.nav-header__list {
  justify-content: end;
  align-items: center;
  gap: 3.2rem;
  font-size: 1.8rem;
  padding-inline: 10rem;
}

.nav-header__list li {
  cursor: pointer;
}

.nav-header__list li a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.nav-link:link,
.nav-link:visited,
.contact-link:link,
.contact-link:visited {
  transition: all 0.2s;
  padding: 0.8rem 3rem;
  background-color: transparent;
  border-radius: 0.6rem;
}

.nav-link:hover,
.nav-link:active {
  color: var(--color-grey-100);
  background-color: var(--color-primary-400);
}

.contact-link:link,
.contact-link:visited {
  border: 2px solid hsl(222, 40%, 24%);
}

/* HERO SECTION */
.section-hero {
  height: 100vh;
  background-color: var(--color-grey-200);
}

.container {
  width: 120rem;
}

.container-hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  column-gap: 9.6rem;
  isolation: isolate;
}

.primary-text-box {
  position: relative;
}

.heading-primary::before {
  content: "";
  position: absolute;
  background: var(--color-primary-300);
  top: 50%;
  left: 0;
  width: 75%;
  height: 100%;
  transform: perspective(5em) rotateX(50deg) scale(1, 0.15);
  filter: blur(1em);
}

.heading-primary {
  font-family: var(--ff-heading);
  font-size: 4.8rem;
  color: hsl(240, 100%, 7%);
  margin-bottom: 3.6rem;
}

.hero-text {
  font-size: 1.8rem;
  line-height: 1.7;
}

.work {
  color: var(--color-primary-400);
  font-weight: 700;
}

.hero__img-box {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary-400);
  overflow: hidden;
  box-shadow: 0 1.4rem 2.8rem 0 rgba(0, 0, 0, 0.3);
}

.hero-img {
  width: 30rem;
  transform: translateY(-5%);
}

/* MEDIA QUERIES */
@media (max-width: 64em) {
  .nav-header__list {
    gap: 3.6rem;
    font-size: 2.2rem;
    padding-inline: 5rem;
    justify-content: end;
  }

  .container-hero {
    column-gap: 5.6rem;
  }
}

@media (max-width: 48em) {
  .menu-icon {
    display: block;
  }

  .nav-header__list {
    gap: 7.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary-400);
    font-size: 2.4rem;
    text-align: center;
    transition: all 0.5s;
  }

  #nav-check:checked ~ .nav-header__list {
    left: 0%;
  }

  .nav-header__list li {
    display: block;
  }

  .nav-header__list li a {
    color: #fff;
  }

  .section-hero {
    justify-content: center;
    width: 100%;
  }

  .container-hero {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
  }

  .heading-primary {
    text-align: center;
  }

  .hero__img-box {
    align-self: start;
    justify-content: center;
  }
}

@media (max-width: 26em) {
  .section-hero {
    height: 100%;
    padding-inline: 1.6rem;
    padding-block: 6.4rem;
  }
  .container-hero {
    align-content: center;
    row-gap: 1.6rem;
  }
  .heading-primary {
    font-size: 3.6rem;
  }
  .hero-text {
    font-size: 1.6rem;
  }
  .hero__img-box {
    align-self: start;
    justify-content: center;
    width: 70%;
  }
  .hero-img {
    width: 100%;
  }
}

/* PROJECTS SECTION */

.section-projects {
  background-color: var(--color-primary-500);
  color: var(--color-grey-300);
  padding-block: 9.6rem;
}

.container-projects {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.heading-secondary {
  font-size: 3.2rem;
  font-family: var(--ff-heading);
}

.projects-grid {
  display: grid;
  row-gap: 6.4rem;
}

.projects-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--color-primary-400);
  border-radius: 0.6rem;
  box-shadow: 0 0.6rem 1.2rem 0 rgba(0, 0, 0, 0.1);
  margin: 0;
  transition: all 0.2s;
}

.projects-card:hover {
  transform: translateY(-5%);
}

.heading-tertiary {
  font-size: 2.8rem;
}

.project-link:link,
.project-link:visited {
  text-decoration: none;
  color: var(--color-grey-200);
  transition: all 0.1s;
}

.project-link:hover,
.project-link:active {
  color: var(--color-accent-400);
}

.projects-technologies {
  color: var(--color-accent-400);
}

.projects__image-box {
  height: 75%;
  width: 75%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-size: cover;
  background-position: top;
}

.projects__image-box-1 {
  background-image: linear-gradient(
      rgba(46, 64, 107, 0.3),
      rgba(77, 108, 179, 0.3)
    ),
    url("images/omnifood.png");
}
.projects__image-box-2 {
  background-image: linear-gradient(
      rgba(46, 64, 107, 0.3),
      rgba(77, 108, 179, 0.3)
    ),
    url("images/nexter.png");
}
.projects__image-box-3 {
  background-image: linear-gradient(
      rgba(46, 64, 107, 0.3),
      rgba(77, 108, 179, 0.3)
    ),
    url("images/natours.png");
}

@media (max-width: 48em) {
  .container-projects {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .heading-secondary {
    margin-bottom: 3.2rem;
  }

  .project-link:hover,
  .project-link:active {
    pointer-events: none;
  }
}

@media (max-width: 26em) {
  .projects-card {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3.6rem;
    align-items: center;
  }

  .container-projects {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .projects__image-box {
    height: 25rem;
    width: 100%;
    grid-row: 1 / 2;
    margin-bottom: 2.5rem;
  }
}

/* ABOUT SECTION */

.section-about {
  background-color: var(--color-grey-100);
  padding-block: 9.6rem;
  color: var(--color-accent-400);
}

.about-card {
  display: grid;
  grid-template-columns: 1.5fr 3.5fr;
  align-items: center;
  justify-content: center;
  column-gap: 6.4rem;
}

.about__img-box {
  border-radius: 1.2rem;
  box-shadow: 0 1.2rem 2.4rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.about-toolkit {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 6.4rem;
}

.about-toolkit .heading-tertiary {
  text-align: center;
  margin-bottom: 2.4rem;
}

.toolkit-list {
  gap: 4.8rem;
}

.toolkit-list li img {
  filter: grayscale(75) opacity(20);
}

@media (max-width: 48em) {
  .about-card {
    grid-template-columns: 1fr 1fr;
    column-gap: 3.6rem;
  }
}

@media (max-width: 26em) {
  .about-card {
    grid-template-columns: 1fr;
    column-gap: 3.6rem;
    align-items: center;
    justify-content: center;
    padding-inline: 1.6rem;
  }
}

/* CONTACT SECTION */

.section-contact {
  background-color: var(--color-grey-200);
  padding-block: 9.6rem;
}

.container-contact {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  column-gap: 9.6rem;
}

.contact__text-box {
  gap: 0.8rem;
}

.contact__text-box .heading-tertiary {
  color: var(--color-accent-400);
}

.email-link:link,
.email-link:visited {
  text-decoration: none;
  color: var(--color-primary-400);
  font-weight: 600;
  margin: 0;
}

.logos-list {
  gap: 3.6rem;
}

.logo-link:hover g path {
  fill: rgba(0, 0, 36, 0.65) !important;
}

.contact-form {
  gap: 1.2rem;
}

.form-control {
  font-size: 1.6rem;
  padding: 1.2rem;
  border: 0.15rem solid rgba(0, 0, 36, 0.75);
  resize: none;
}

.form-control:focus {
  color: var(--color-grey-700);
  background-color: #fff;
  border-color: hsl(240, 100%, 7%);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 0 36 / 50%);
}

.btn {
  color: #fff;
  background-color: #000024;
  border: 0.15rem solid #000024;
  transition: 0.2s;
}

.btn:hover {
  background-color: rgba(0, 0, 36, 0.8);
  border: 0.15rem solid #000024;
}

.btn-primary {
  align-self: flex-start;
  padding: 1rem 2.4rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

@media (max-width: 48em) {
  .container-contact {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .logos-list {
    justify-content: center;
    margin-bottom: 5rem;
  }

  .btn {
    align-self: center;
  }
}
/* FOOTER */
.footer {
  background-color: var(--color-accent-400);
  padding-block: 0.6rem;
  color: var(--color-grey-300);
  font-size: 1.4rem;
}

.container-footer,
.footer-text {
  margin: 0;
  text-align: center;
}
