.main-header {
  background-color: var(--color-primary-400);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.nav-header {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    height: 0;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.4s;
    overflow: hidden;
    background-color: var(--color-grey-100);
  }
}

.hamburger.active + .nav-header {
  height: 100vh;
}

.hamburger {
  display: none;
  position: absolute;
  right: 3rem;
  top: 3rem;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background-color: var(--color-primary-200);
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: var(--color-grey-100);
    transform: translateY(-6px);
    transition: all 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: var(--color-grey-100);
    box-shadow: 0 6px 0 hsl(0, 0%, 93%);
    transition: all 0.3s;
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

.hamburger.active::before {
  transform: rotate(45deg);
}

.hamburger.active::after {
  transform: rotate(-45deg);
  box-shadow: none;
}

.nav-header__list {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    height: 65vh;
    transition: all 0.3s;
    gap: 3.2rem;
    opacity: 0;
    opacity: 1;
  }
}

.hamburger.active .nav-header__list {
  opacity: 1;
}

.nav-header__list li {
  text-align: center;
}

.nav-header-link:link,
.nav-header-link:visited {
  display: block;
  min-width: 15rem;
  font-family: var(--ff-body);
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: var(--color-grey-100);
  padding: 1.5rem 8rem;
  transition: all 0.2s;

  @media (max-width: 1200px) {
    padding: 1.5rem 6.5rem;
  }

  @media (max-width: 1024px) {
    padding: 1.5rem 3.5rem;
  }

  @media (max-width: 768px) {
    color: var(--color-grey-600);
    font-size: 1.8rem;
  }
}

.nav-header-link:hover,
.nav-header-link:active {
  background-color: var(--color-accent-400);

  @media (max-width: 768px) {
    background-color: transparent;
  }
}
