:root {
  /* COLORS */
  --color-primary-400: rgba(170, 219, 236, 0.5);

  // --color-accent-400: #0f1b61;
  --color-accent-400: #ff715b;

  --color-background-primary: #def0fa;
  --color-background-secondary: #121e27;

  --color-grey-100: #ffffffe6;
  --color-grey-600: #2c2c2d;

  --color-white: #ffffff;
  --color-black: rgb(0, 0, 0);

  /* FONT FAMILY */
  --ff-heading: "Bitter", sans-serif;
  --ff-hero: "Montserrat", sans-serif;
  --ff-body: "Montserrat", sans-serif;
}
