:root {
  /* COLORS */
  --color-primary-400: #414353;
  --color-primary-900: #10110d;

  --color-accent-light-400: #e2dbbe;

  --color-accent-dark-400: #c19875;

  --color-grey-light-400: #95a3a4;

  --color-grey-dark-400: #697268;

  --color-text: #f7f7f7;
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  /* FONT FAMILY */
  --ff-main: "Inter", sans-serif;
}
