.section-about {
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding-block: 16rem;
  isolation: isolate;

  @media (max-width: 1200px) {
    padding-block: 8rem;
  }

  @media (max-width: 375px) {
    width: 100%;
  }
}

.about-grid {
  justify-content: start;
  display: grid;
  grid-template-columns: 2.5fr 1.5fr;
  column-gap: 7.2rem;
  margin-bottom: 12.6rem;

  @media (max-width: 1200px) {
    justify-items: center;
    column-gap: 5.4rem;
    margin-bottom: 7.6rem;
  }

  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}

.heading-secondary {
  font-size: 3.6rem;
  margin-bottom: 4.8rem;
  font-weight: 500;
}

.about-heading {
  position: relative;
}

.about-heading::before {
  content: "";
  display: block;
  height: 1.5rem;
  width: 100%;
  background-color: var(--color-accent-400);
  position: absolute;
  top: 65%;
  right: 0%;
  z-index: -1;
}

.about__image {
  width: 34rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.75rem 0.5rem rgba(0, 0, 0, 0.5);
  justify-items: center;

  @media (max-width: 1200px) {
    width: 28rem;
  }
}

.about__text-box {
  width: 100%;
}

.heading-quaternary {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.about-text {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;

  @media (max-width: 1200px) {
    font-size: 1.6rem;
  }
}

.container-about {
  .heading-tertiary {
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4.8rem;
    font-weight: 600;
  }

  @media (max-width: 375px) {
    width: 100%;
  }
}

.toolkit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;

  @media (max-width: 425px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1rem;
  }
}

.toolkit-card {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: var(--color-primary-300);
  box-shadow: 0rem 0.6rem 0.6rem rgba(0, 0, 0, 0.2);
  padding: 0.8rem 3.2rem;
  border-radius: 4px;

  @media (max-width: 425px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 16rem;
    padding: 0.8rem 1.2rem;
    gap: 1.2rem;
  }
}

.toolkit-image {
  height: 3.2rem;

  @media (max-width: 425px) {
    height: 3.2rem;
  }
}

.toolkit-text {
  font-size: 2.2rem;
  color: var(--color-grey-100);

  @media (max-width: 425px) {
    font-size: 1.6rem;
  }
}
