.section-contact {
  padding-block: 16rem;
}

.container-contact {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  column-gap: 9.6rem;
}

.contact__text-box {
  .heading-quaternary {
    margin-bottom: 2.4rem;
  }
}

.contact__text {
  margin-bottom: 1.6rem;
}

.contact-email-link:link,
.contact-email-link:visited {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-primary-400);
  transition: all 0.1s;
}

.contact-email-link:hover,
.contact-email-link:active {
  color: var(--color-accent-400);
}

.contact-social-list {
  display: flex;
  gap: 3.6rem;
}

.contact-social-icon {
  fill: var(--color-primary-400);
  transition: all 0.1s;
}

.contact-social-icon:hover {
  fill: var(--color-accent-400);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.form-control {
  width: 100%;
  font-size: 1.6rem;
  padding: 0.8rem;
  border: 0.15rem solid hsla(207, 36%, 11%, 0.65);
  border-radius: 4px;
  box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
  resize: none;
  transition: all 0.1s;
}

.form-control:focus {
  color: var(--color-grey-600);
  background-color: #fff;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 1.5px hsl(8, 100%, 68%);
}

.btn {
  color: var(--color-grey-600);
  border: none;
  transition: 0.1s;
}

.btn-primary {
  align-self: flex-start;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-grey-100);
  text-transform: uppercase;
  padding: 1rem 2.4rem;
  background-color: var(--color-primary-400);
  border-radius: 4px;
  box-shadow: 0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
  cursor: pointer;
  background-color: var(--color-accent-400);
}
