.section-hero {
  color: var(--color-grey-100);
  background-color: var(--color-primary-400);
  position: relative;
  height: 100vh;
}

.container-hero {
  height: 100%;
  display: flex;
  align-items: center;
  isolation: isolate;
}

.heading-primary {
  color: var(--color-grey-100);
  font-size: 6.4rem;
  font-family: var(--ff-hero);
  margin-bottom: 3.6rem;

  @media (max-width: 1200px) {
    font-size: 5.4rem;
  }

  @media (max-width: 768px) {
    font-size: 4.2rem;
  }
}

.hero-name {
  position: relative;
}

.hero-name::before {
  content: "";
  display: block;
  height: 2.25rem;
  width: 100%;
  background-color: var(--color-accent-400);
  position: absolute;
  top: 65%;
  right: 0%;
  z-index: -1;

  @media (max-width: 1200px) {
    height: 1.75rem;
  }

  @media (max-width: 425px) {
    display: none;
  }
}

.hero-job {
  position: relative;
}

.hero-job::before {
  content: "";
  display: block;
  height: 2.25rem;
  width: 100%;
  background-color: var(--color-accent-400);
  position: absolute;
  bottom: 5%;
  left: 0%;
  z-index: -1;

  @media (max-width: 1200px) {
    height: 1.75rem;
  }

  @media (max-width: 425px) {
    display: none;
  }
}

.hero-social-list {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 6.4rem;
}

.hero-social-icon {
  fill: var(--color-accent-400);
  transition: all 0.3s;

  @media (max-width: 1200px) {
    height: 4rem;
  }
}

.hero-social-icon:hover {
  fill: var(--color-grey-100);
}

.hero-introduction-box {
  max-width: 60rem;
}

.hero-introduction {
  font-size: 2rem;
  margin-bottom: 2.4rem;

  @media (max-width: 1200px) {
    font-size: 1.8rem;
  }
}
