.section-hero {
  height: 100vh;
  background-color: var(--color-tertiary-400);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-hero {
  max-width: 130rem;
}

.sub-heading {
  // text-transform: uppercase;
  font-size: 1.8rem;
  color: var(--color-accent-primary-400);
  padding-left: 5rem;
  position: relative;
}

.sub-heading::before {
  content: "";
  display: block;
  height: 2px;
  width: 4rem;
  background-color: var(--color-accent-primary-400);
  position: absolute;
  top: 50%;
  left: 0;
}
.hero__text-box {
  width: 65%;
}

.heading-primary {
  color: var(--color-grey-600);
  font-family: var(--ff-heading);
  font-size: 10.2rem;
  letter-spacing: -0.1rem;
}

.hero-slogan {
  font-size: 4.2rem;
  font-family: var(--ff-heading);
  font-weight: 100;
}
.hero-work {
  color: var(--color-accent-primary-400);

  font-weight: 600;
}
.hero-intro {
}
