.section-projects {
  background-color: var(--color-primary-400);
  color: var(--color-grey-100);
  padding-block: 16rem;
  isolation: isolate;

  @media (max-width: 1200px) {
    padding-block: 8rem;
  }
}

.projects-heading {
  position: relative;
}

.projects-heading::before {
  content: "";
  display: block;
  height: 1.5rem;
  width: 100%;
  background-color: var(--color-accent-400);
  position: absolute;
  top: 65%;
  right: 0%;
  z-index: -1;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3.6rem;
  row-gap: 3.6rem;

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 425px) {
    grid-template-columns: 1fr;
  }
}

.projects__card {
  background-color: var(--color-primary-200);
  border-radius: 1rem;
  overflow: auto;
  transition: all 0.2s;
  box-shadow: 0rem 0.6rem 0.6rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

.projects__card:hover {
  transform: translate(0, -5px);
}

.projects__card--image-box {
  margin-bottom: 2.4rem;
}

.projects-image {
  opacity: 60%;
}

.projects__card--text-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-inline: 2.8rem;
  padding-bottom: 2.4rem;
}

.projects-title:link,
.projects-title:visited {
  color: var(--color-grey-100);
  font-size: 2.6rem;
  transition: all 0.2s;
}

.projects-title:hover,
.projects-title:active {
  color: var(--color-accent-400);
}

.project-description {
  margin-bottom: 1.2rem;
}

.projects__tools-used {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
  margin-top: auto;
}

.projects-tools {
  color: var(--color-grey-600);
  background-color: var(--color-background-primary);
  padding: 0.2rem 1.4rem;
  border-radius: 999px;
}

.projects-external-link-box {
  display: flex;
  gap: 1.8rem;
}

.project-live-link:link,
.project-live-link:visited,
.project-github-link:link,
.project-github-link:visited {
  font-size: 1.8rem;
  color: var(--color-grey-100);
  background-color: var(--color-primary-400);
  padding: 0.4rem 1.4rem;
  border-radius: 8px;
  transition: all 0.2s;
}

.project-live-link:hover,
.project-live-link:active,
.project-github-link:hover,
.project-github-link:active {
  font-size: 1.8rem;
  background-color: var(--color-accent-600);
}
